
#-----------------------------------------------

.DS_Store

#-----------------------------------------------

fembfm1

arc
test
tmp
newtmp
mod
private

/lib/mod
/lib/lib*.a
/save
bugs

femmpi
stable
femdoc/old/

femsave
femregress

gmon.out

tags

#-----------------------------------------------

*.o
*.a
*.mod
*.stp
*.tmp
*.bak
*.aux
*.log
*.swp
*__genmod.f90

#-----------------------------------------------

.directory
.bash_eternal_history
a.out
DIFFS
errout.dat

#-----------------------------------------------

src/shyfem/shyfem
bin/shyfem

src/tools/shypre/shypre
bin/shypre
src/tools/shypre/shypre_noopti
bin/shypre_noopti
src/tools/shypre/shypre_orig
bin/shypre_orig

src/tools/shyadj/shyadj
bin/shyadj
src/tools/shybas/shybas
bin/shybas
src/tools/shynetcdf/nc2fem
bin/nc2fem
src/tools/shynetcdf/ts2nc
bin/ts2nc
src/tools/shyplot/shyplot
bin/shyplot
src/tools/shyelab/shyelab
bin/shyelab
src/tools/shyelab/shyfile
bin/shyfile
src/tools/shyelab/extelab
bin/extelab
src/tools/shyelab/femelab
bin/femelab
src/tools/shyelab/femcombine
bin/femcombine
src/tools/shyelab/flxelab
bin/flxelab
src/tools/shyelab/lgrelab
bin/lgrelab
src/tools/shyelab/tselab
bin/tselab
src/tools/shyelab/shyproj
bin/shyproj
src/tools/shyelab/shystrings
bin/shystrings
src/tools/shyparts/shyparts
bin/shyparts
src/utils/shympi/check_shympi_debug
bin/check_shympi_debug
src/utils/shympi/check_shympi_check
bin/check_shympi_check
src/tools/shyelab/dbg_flx
bin/dbg_flx
src/tools/shyelab/dbg_box
bin/dbg_box

src/tools/shypre/shypre_noopti
bin/shypre_noopti
src/tools/shypre/shypre_orig
bin/shypre_orig

bin/gps.sh

bin/grid
src/tools/grid/grid
bin/mesh
src/tools/mesh/mesh
bin/exgrd
src/tools/mesh/exgrd

src/tools/hcbs/tvis
src/tools/hcbs/xhcbs

tmp_compile
demopost

src/utils/shympi/MPI_NODE
src/utils/shympi/MPI_NONE

#-----------------------------------------------

docs/P_*.tex
docs/S_*.tex
docs/shyfem.aux
docs/shyfem.bbl
docs/shyfem.blg
docs/shyfem.dvi
docs/shyfem.log
docs/shyfem.pdf
docs/shyfem.ps
docs/shyfem.toc

#-----------------------------------------------
# compiled examples
#-----------------------------------------------

Output

#-----------------------------------------------
amgx-c-wrapper/LICENSE
amgx-c-wrapper/Makefile
amgx-c-wrapper/README.md
amgx-c-wrapper/src/

